.container{
    max-width: 1200px;
    padding: 0 1em;
}
body{
    background-color: #f8f9fa;
}
footer{
    margin-top: 5em;
    padding: 1em 0;
}
section{
    margin-top: 1em;
}

header{
    border-bottom: 1px solid #d4d4d4;
    background-color: black;
    color: white;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.carousel img{
    height: 20em;
    object-fit: cover;
    border-radius: 1em;
}

.card {
    height: 10em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.card .card-img-overlay {
    flex: 1;
}
.card.img-bg{
    position: relative;
    color: #fff;
}
.card.img-bg .card-img-overlay,
.card.img-bg img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card.img-bg .card-img-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 1em;
}

.card.img-bg .card-header,
.card.img-bg .card-body{
    position: relative;
    z-index: 2;
}
.card .card-text{
    margin-bottom: 1em;
}